@import "tailwindcss";

body {
  font-family: "Outfit", serif;
}

.hero {
  background-image: url("/assets/images/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background: linear-gradient(
    180deg,
    rgba(49, 24, 125, 0.6) 0%,
    rgba(115, 115, 115, 0.15) 100%
  );
}

/* .custom-clip::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40px;
  height: 40px;
border-bottom:1px solid lightgray;
  border-bottom-left-radius: 50%;
background-color: white;

  transform: rotate(0deg);
} */

/* .custom-clip{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 8px;
} */
