@import "tailwindcss";

body {
    font-family: "Outfit", serif;
}

.hero {
    background-image: url("/images/hero-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
