@import "tailwindcss";

body {
  font-family: "Outfit", serif;
}

.Hero {
  background-image: url("../src//assets/herobackgroun.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
